extends layout.pug

block content
    script(src='/javascripts/commentCreate.js' type='module')
    script(src='/javascripts/commentEdit.js' type='module')
    script(src='/javascripts/commentDelete.js' type='module')
    h1= title
    h3= authorName
    h4= date
    p= body
    if(isAuthor)
        a(href=`/articles/${id}/edit` id='article_edit') Edit
        form(action=`/articles/${id}/delete` method='post')
            button(type='submit' id='article_delete') Delete

    h2 Comments
    div(id='comment_container')
         each comment in comments
            div= comment.body
                div= User.firstName
    if locals.authenticated
        form(id='comment_form')
            textarea(id="comment_text", name="comment", cols="30", rows="10")
            button(id=`${id}-${user_id}-comment` class='comment_button') Submit
