extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id=`index-container`)
    h1 "No porn articles"-Moe Hussein
    if !locals.authenticated
      p Create an account or sign in to create and comment on articles
    div(id='main-articles-container')
        each article in articles
          span(class=`article-box`)
              a(href=`./articles/${article.id}`)
                div(id='article-author-body')
                  div(class='article-title')=article.title
                  div(id=`author-name`)= `${article.User.firstName} ${article.User.lastName}`
                    div(id='update-time')= `${article.updatedAt.toDateString()}`
              a(href=`./articles/${article.id}`)
                div(id='article-image')
                  if article.imageURL
                    img(src=article.imageURL, alt=`appropriate image for "${article.title}"`)
                  if !article.imageURL
                    div(id='no-image-box')
                      img(src="https://fontmeme.com/permalink/220608/ed5d547c9dcb1bed5b470145dc5854b1.png" id='no-image' alt=`appropriate image for "${article.title}"`)
        footer
          div(class= "footer")
            a(id= "about" href="/about") About
            div |
            p(class= "us") Moe Hussein
            div |
            p(class= "us") Jason Tang
            div |
            p(class= "us") Eddie Lau
            div |
            p(class= "us") Ethan Browning
            div |
            p(class= "us") 2022
