extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js

block content
  div(id=`index-container`)
    if !locals.authenticated
      div(id='splash-div')
        div(id='splash-logo-subheading')
          div(id='git-gud') Git gud.
          //- img(src="https://fontmeme.com/permalink/220610/105acbb226a751c85ec769bf6ed27c76.png")
          div Pwn your n00b friends by keeping up with recent gaming news.
          div(id='click-to-start-div')
            a(id="click-to-start" href='/users/signup') Click to start
    div(id='main-articles-container')
        each article in articles
          span(class=`article-box`)
              a(href=`./articles/${article.id}`)
                div(id='article-author-body')
                  div(class='article-title')=article.title
                  div(id=`author-name`)= `${article.User.firstName} ${article.User.lastName}`
                    div(id='update-time')= `${article.updatedAt.toDateString()}`
              a(href=`./articles/${article.id}`)
                div(id='article-image')
                  if article.imageURL
                    img(src=article.imageURL, alt=`appropriate image for "${article.title}"`)
                  if !article.imageURL
                    div(id='no-image-box')
                      img(src="https://fontmeme.com/permalink/220608/ed5d547c9dcb1bed5b470145dc5854b1.png" id='no-image' alt=`appropriate image for "${article.title}"`)
