extends layout.pug

block content
    link(rel="stylesheet" href="/stylesheets/user-profile.css")
    if(locals.user && locals.user.id === userProfile.id)
        h1(id='profile_header')= `${userProfile.username}'s Profile`
        div(id="user_profile")
            div(id= 'one')
                div(id= 'onea') First Name:
                div(id= 'oneb')= `${userProfile.firstName}`
            div(id= 'two')
                div(id= 'twoa') Last Name:
                div(id= 'twob')= `${userProfile.lastName}`
            div(id= 'three')
                div(id= 'threea') Email:
                div(id= 'threeb')= `${userProfile.email}`
            div(id= 'four')
                div(id= 'foura') Username:
                div(id= 'fourb')= `${userProfile.username}`
            div(id= 'five')
                div(id= 'fivea') Articles Written:
                div(id= 'fiveb')= `${articlesProfile.length}`
            div(id= 'six')
    div
        div(id='written_table_header')=`Articles written by ${userProfile.firstName} ${userProfile.lastName}`
        table(id='written_table')
                thead
                tbody
                    each article in articlesProfile
                        tr(class='table_row')
                            td(class= 'table_title')
                                a(href=`../articles/${article.id}`)= article.title
                            td(class= 'table_date')=article.createdAt.toDateString()
