mixin validationErrorSummary(errors)
  if errors
    div
      ul
        each error in errors
          li= error


mixin field(placeholder = "", fieldName, fieldValue, fieldType = 'text', className)
  div
    label(for=fieldName)= labelText
    input(placeholder=placeholder id=fieldName name=fieldName value=fieldValue class=className type = fieldType)
